* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f79a19;
  color: #1b211a;
}
.container {
  margin: 12%;
  width: 90%;
  max-width: 700px;
}
.display {
  width: 60%;
  margin-top: 50px;
  margin-bottom: 30px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 20px;
  border-radius: 5px;
}

.container h1 {
  color: #fff;
  font-weight: 500px;
  font-size: 45px;
}

.container h1 span {
  color: #434e78;
  border-bottom: 4px solid #050e3c;
  padding-bottom: 7px;
}
.display .icon {
  width: 30px;
  cursor: pointer;
  color: #FFC50F;
}
.display input{
    border: 0;
    outline: 0;
    font-size: 24px;
}
.container button{
    border: 0;
    outline: 0;
    background: #FFC50F;
    color: #fff;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 16px;
    cursor: pointer;
    border-radius: 5px;
}